#include "Shared/Framework.xcconfig"

PRODUCT_NAME = Prelude
PRODUCT_BUNDLE_IDENTIFIER = com.wayfair.Prelude

SWIFT_VERSION = 4.2

MACH_O_TYPE = mh_dylib

TARGETED_DEVICE_FAMILY = 1,2

IPHONEOS_DEPLOYMENT_TARGET = 10.0
MACOSX_DEPLOYMENT_TARGET = 10.13

INFOPLIST_FILE = Supporting Files/Info.plist

APPLICATION_EXTENSION_API_ONLY = YES
