#include "Shared/XCTest.xcconfig"

PRODUCT_NAME = PreludeTests
PRODUCT_BUNDLE_IDENTIFIER = com.wayfair.PreludeTests

SWIFT_VERSION = 4.2

TARGETED_DEVICE_FAMILY = 1,2

IPHONEOS_DEPLOYMENT_TARGET = 10.0
MACOSX_DEPLOYMENT_TARGET = 10.13

INFOPLIST_FILE = Tests/PreludeTests/Supporting Files/Info.plist
