#include "Shared/Framework.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = com.wayfair.$(TARGET_NAME)

SWIFT_VERSION = 4.2

MACH_O_TYPE = staticlib

TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 10.0

INFOPLIST_FILE = Supporting Files/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.wayfair.Prelude
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
