#include "Shared/Target.xcconfig"
#include "Shared/CodeSigning.xcconfig"

ENABLE_BITCODE = NO

// Convert Copied Files
//
// Files copied with a Copy Files build phase are unchanged by default. Setting this to
// `TRUE` causes property list files (`.plist`) and strings files to be converted as
// specified by `PLIST_FILE_OUTPUT_FORMAT` and `STRINGS_FILE_OUTPUT_ENCODING`.
APPLY_RULES_IN_COPY_FILES = YES

COMBINE_HIDPI_IMAGES = YES

ONLY_ACTIVE_ARCH_Debug = YES
ONLY_ACTIVE_ARCH_Release = NO
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(CONFIGURATION))

// NOTE: `DYLIB_COMPATIBILITY_VERSION` is intentionally empty — see <https://github.com/realm/realm-cocoa/issues/2180>.
