#include "CompilerWarnings.xcconfig"

SKIP_INSTALL = YES

CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_ENABLE_MODULES = YES
GCC_REUSE_STRINGS = NO

VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

COPY_PHASE_STRIP_Debug = NO
COPY_PHASE_STRIP_Release = YES
COPY_PHASE_STRIP = $(COPY_PHASE_STRIP_$(CONFIGURATION))
// ‣ Overridden this in test targets — which don’t need strip phases…

MTL_ENABLE_DEBUG_INFO_Debug = INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO_Release = NO
MTL_ENABLE_DEBUG_INFO = $(MTL_ENABLE_DEBUG_INFO_$(CONFIGURATION))
MTL_FAST_MATH = YES

SWIFT_SWIFT3_OBJC_INFERENCE = Off

SWIFT_ACTIVE_COMPILATION_CONDITIONS_Debug = DEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS_Release =
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_$(CONFIGURATION))

SWIFT_OPTIMIZATION_LEVEL_Debug = -Onone
SWIFT_OPTIMIZATION_LEVEL_Release = -O
SWIFT_OPTIMIZATION_LEVEL = $(SWIFT_OPTIMIZATION_LEVEL_$(CONFIGURATION))

SWIFT_COMPILATION_MODE_Debug = singlefile // Incremental
SWIFT_COMPILATION_MODE_Release = wholemodule
SWIFT_COMPILATION_MODE = $(SWIFT_COMPILATION_MODE_$(CONFIGURATION))

DEBUG_INFORMATION_FORMAT_Debug = dwarf
DEBUG_INFORMATION_FORMAT_Release = dwarf-with-dsym
// ‣ Override this in test targets — which don’t need `dysm`s…
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CONFIGURATION)

ENABLE_TESTABILITY_Debug_mh_dylib = YES
ENABLE_TESTABILITY_Release_mh_dylib = NO
ENABLE_TESTABILITY_Debug_staticlib = YES
ENABLE_TESTABILITY_Release_staticlib = NO
ENABLE_TESTABILITY_Debug_mh_bundle = NO
ENABLE_TESTABILITY_Release_mh_bundle = NO
// ‣ Anything else will receive default value — ‘NO’ for Xcode 10 and expected to stay that way
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION)_$(MACH_O_TYPE))

DYLIB_INSTALL_NAME_BASE_framework = @rpath
DYLIB_INSTALL_NAME_BASE = $(DYLIB_INSTALL_NAME_BASE_$(WRAPPER_EXTENSION))

CODE_SIGNING_REQUIRED = NO

ALWAYS_SEARCH_USER_PATHS = NO

PRODUCT_NAME = $(TARGET_NAME)

COPY_PHASE_STRIP_Debug = NO
COPY_PHASE_STRIP_Release = YES
COPY_PHASE_STRIP = $(COPY_PHASE_STRIP_$(CONFIGURATION))

VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

ENABLE_NS_ASSERTIONS_Debug = YES
ENABLE_NS_ASSERTIONS_Release = NO
ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(CONFIGURATION))
