// Not necessary for test code to be put through a strip phase.
COPY_PHASE_STRIP = NO

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

DEBUG_INFORMATION_FORMAT = dwarf

APPLICATION_EXTENSION_API_ONLY = NO

WRAPPER_EXTENSION = xctest

LD_RUNPATH_SEARCH_PATHS[sdk=iphone*] = @loader_path/Frameworks
// ‣ Other platforms should be added here, and kept current…

CODE_SIGN_IDENTITY =
CODE_SIGNING_REQUIRED = NO
